.container{
     max-width: 750px;
     margin: 0 auto;
}

header{
     background-color: #b8cb21;
}

nav{
     float: right;
     margin: 50px;;
     text-transform: uppercase;
}

nav a{
     padding: 0 15px;
}